
.portfolio {
    background: #54be90;
    width: 100vw;
    color: black;
    padding: 0 0 4rem 0;

    .projectsview {
        width: 80%;
        margin: auto;
    
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    
        .project {
            background-color: white;
            display: flex;
            flex-direction: column;
            flex-basis: 31%;
            margin-bottom: 1.2rem;
            padding: 0.3rem;

            @media (max-width: 800px) {
                flex-basis: 48%;
            }

            @media (max-width: 600px) {
                flex-basis: 100%;
            }

            &:hover {
                background-color: $dk_grey;
            }
    
            .project__imgdiv {
                height: 8 rem;
    
                > img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    
                }
            }

            .project__info {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                background-color: lightgray;
                color: black;
                text-align: center;
                padding: 0.5rem;
                margin-top: 0.5rem;

            }
    
                
        }
    }
}









