.skills {
    width: 100vw;
    background-color: white;
    padding: 0 0 4rem 0;

    .skills__graphic {
        max-width: 60%;
        margin: auto;
        display: flex;
        flex-direction: column;

        .skills__container {
    
            margin: auto;
            display: flex;
            margin: 0.3rem;
            height: 3.5rem;

            .skills__name {
                width: 12rem;
                background-color: #232323;
                color: white;
                font-size: 1.5rem;
                text-align: center;
            
                display:flex;              /* RECAP centering */
                flex-direction:column;
                justify-content:space-around;
            }
            
            .skills__bar {
                width: 100%;
                background-color: #54be90;
                display: flex;
                justify-content: flex-end;
            }
        }

    }
}







.skills__level {
    background-color:  #ebebeb;
    text-align: right;
    color: #444444;
    padding-right: 0.5rem;
    
    display:flex;              /* RECAP centering */
    flex-direction:column;
    justify-content:space-around;
}

.fb50 {flex-basis: 50%;}
.fb60 {flex-basis: 40%;}
.fb70 {flex-basis: 30%;}
.fb80 {flex-basis: 20%;}
.fb80 {flex-basis: 20%;}
