.social {
    width: 100vw;
    background-color: #232323;
    padding-bottom: 3rem;

    .social__container {
        display: flex;
        width: 60%;
        margin: 0 auto;
        justify-content: space-between;

        .social__link:hover svg path {
            opacity: 0.5;
        }

        .social__link svg {
            width: 5em;
            height: 5em;

            path {
                fill: white;

            }
        
        }
    }
}




