/* welcome splash with image */

.welcome {
    width: 100vw;
    height: 40rem;
    background-image: url(/img/polar2.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;


    .welcome__container {

        font-size: 3.5em;
        text-align: center;

        @media (max-width: 750px) {
                font-size: 2.25em;
            }

        @media (max-width: 525px) {
            font-size: 2.0em;
        }

        .welcome__blurb {
            color: $titlecol;
            font-weight: 400;
   
            h1 {
                display: inline;
                color: $bright;
                font-weight: 500;
                font-size: 1.5em;
                
            text-decoration: underline white 0.12em;
            text-underline-offset: 0.1em;
            }
        }

        .welcome__job h2 {
            color: $titlecol;
            font-weight: 300;
            font-size: 1em;
            margin: 0.3em;

        }
    }
} 
