/* welcome splash with image */

.welcome {
    height: 30rem;
    background-image: url(/img/polar2.jpg);
    background-size: cover;
    text-align: center;
    margin-top: 8rem;
    padding-top: 5rem;

    .welcome__blurb {
        color: $titlecol;
        font-weight: 400;
        font-size: 3.5rem;

        h1 {
            display: inline;
            color: $bright;
            font-weight: 500;
            font-size: 4rem;

        text-decoration: underline white 0.4rem;
        text-underline-offset: 0.3rem;
        }

    }

    .welcome__job h2 {
        color: $titlecol;
        font-weight: 300;
        font-size: 3rem;

    }
} 
