@import "_variables.scss";
@import "_common.scss";
@import "_nav.scss";
@import "_welcome.scss";
@import "_mission.scss";
@import "_offer.scss";
@import "_skills.scss";
@import "_portfolio.scss";
@import "_about.scss";


/* BUTTON */



.social {
    width: 100vw;
    background-color: #232323;
    padding-bottom: 3rem;
}

.social__container {
    display: flex;
    width: 60%;
    margin: 0 auto;
    justify-content: space-between;
}


.social__link svg {
    width: 5em;
    height: 5em;

}

.social__link svg path {
    fill: white;
}

.social__link:hover svg path {
	opacity: 0.5;
}


/* Section Contact */
.contact {
	background-color: #54be90;
	//padding: 2rem 15% 6rem 15%;
}

.contact .heading {
	color: #ffffff;
}

.form {
	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;

}

.form__input {
	width: 48%;
	color: #ffffff;
	background: transparent;
	border: none;
	border-bottom: 1px solid #ebebeb;
	outline: none;
	font-size: 1.5rem;
	margin-bottom: 2rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.form__input::placeholder {
	color: #ebebeb;
}

.form__label {
	width: 100%;
	color: #ebebeb;
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
}

.form__textarea {
	width: 100%;
	border: none;
	border-radius: 0.5rem;
	outline: none;
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 1.5rem;
	margin-bottom: 2rem;
	padding: 0.5rem;
}

.form__button {
	width: 100%;
	color: #ffffff;
	background-color: #232323;
	border: none;
	border-radius: 0.5rem;
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 4rem;
	padding: 0.75rem;
	cursor: pointer;
}

.form__button:hover {
	box-shadow: 2px 2px 8px 0px rgba(68, 68, 68, 0.75);
}



//* Footer */
.footer {
	background-color: #ebebeb;
	padding: 4rem 15%;
}

.footer .heading {
  display: flex;
  align-items: center;
  justify-content: space-around;
	color: #232323;
	font-size: 3.5rem;
	font-weight: 800;
}

.footer__line {
	width: 25%;
	height: 0.5rem;
	background-color: #54be90;
}

.footer .social__link {
	margin: 0 2rem;
}

.footer .social__link svg {
	width: 4rem;
	height: 4rem;
}

.footer .social__link svg path {
	fill: #444444;
	opacity: 0.25;
}

.footer .social__link:hover svg path {
	opacity: 0.5;
}

.footer__copy {
	font-size: 1.5rem;
	text-align: center;
	margin-top: 4rem;
}